<div class="spacer-5"></div>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#tab0" aria-controls="tab0" role="tab" data-toggle="tab">General</a></li>
  <li role="presentation"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Cardiovascular</a></li>
  <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Seguimiento</a></li>
</ul>

<div class="form-horizontal">  
  <%= form_for(@evaluation) do |f| %>
    <div class="tab-content">

	<!-- 1st Tab -->
    <div role="tabpanel" class="tab-pane active" id="tab0">
      <div class="spacer-5"></div>
      
        <div class="col-md-4">
	      <b>Factor Reumatoide (FR)</b>
	      <%= f.text_field :var_fr, class: 'form-control' %>
	    </div>
	    
	    <div class="col-md-4">
	      <b>Anticuerpo anit-peptido citrulinado (ACPA)</b>
	      <%= f.text_field :var_acpa, class: 'form-control' %>
	    </div>
	    
	    <div class="col-md-4">
	      <b>Factor de Necrosis Tumoral alfa (TNF-a)</b>
	      <%= f.text_field :var_tnfa, class: 'form-control' %>
	    </div>
	    
	    <div class="col-md-4">	    
	      <b>Interleucina 1 (IL-1)</b>
	      <%= f.text_field :var_il1, class: 'form-control' %>
	    </div>	    
	    
	    <div class="col-md-4">	    
	      <b>Interleucina 6 (IL-6)</b>
	      <%= f.text_field :var_il6, class: 'form-control' %>
	    </div>	    
	    
	    <div class="col-md-4">	    
	      <b>Proteína C reactiva (PCR)</b>
	      <%= f.text_field :var_pcr, class: 'form-control' %>
	    </div>
	    	    
	    <div class="col-md-4">	    
	      <b>Disease Activity Score 28 (DAS-28)</b>
	      <%= f.text_field :var_das28, class: 'form-control' %>
	    </div>	    
	    
	    <div class="col-md-4">	    
	      <b>Velocidad de sedimentación globular (VSG)</b>
	      <%= f.text_field :var_vsg, class: 'form-control' %>
	    </div>	    
	    
	    <div class="col-md-4">	    
	      <b>Health Assessment Questionnaire (HAQ)</b>
	      <%= f.text_field :var_haq, class: 'form-control' %>
	    </div>	      

	    <div class="col-md-4">	
	      <b>Tension Arterial (T/A)</b>
	      <%= f.text_field :var_ta, class: 'form-control' %>
	    </div>	      
	    
	    <div class="col-md-4">	    
	      <b>Frecuencia Cardiaca (FC)</b>
	      <%= f.text_field :var_fc, class: 'form-control' %>
	    </div>	      
	    
	    <div class="col-md-4">	    
	      <b>Frequencia Respiratoria (Fr)</b>
	      <%= f.text_field :var_fresp, class: 'form-control' %>
	    </div>	      
	
	    <div class="col-md-4">	
	      <b>Temperatura (Temp)</b>
	      <%= f.text_field :var_temp, class: 'form-control' %>
	    </div>	      
	    
	    <div class="col-md-4">	    
	      <b>Lipidos (Lip)</b>
	      <%= f.text_field :var_lip, class: 'form-control' %>
	    </div>	      
	    
	    <div class="col-md-4">	    
	      <b>Colesterol Total (CT)</b>
	      <%= f.text_field :var_ct, class: 'form-control' %>
	    </div>	      
	    
	    <div class="col-md-4">	    
	      <b>Trigliceridos (TG)</b>
	      <%= f.text_field :var_tg, class: 'form-control' %>
	    </div>	      
	    
	    <div class="col-md-4">	    
	      <b>Liproteína de baja densidad (LDL)</b>
	      <%= f.text_field :var_ldl, class: 'form-control' %>
	    </div>	      
	    
	    <div class="col-md-4">	    
	      <b>Liproteína de muy baja densidad (VLDL)</b>
	      <%= f.text_field :var_vldl, class: 'form-control' %>
	    </div>	      
	    
	    <div class="col-md-4">	    
	      <b>Liproteína de alta densidad (HDL)</b>
	      <%= f.text_field :var_hdl, class: 'form-control' %>
	    </div>	      
	    
	    <div class="col-md-4">	    
	      <b>Glucosa (Glu)</b>
	      <%= f.text_field :var_glu, class: 'form-control' %>
	    </div>	      
	    
	    <div class="col-md-2">	    
	      <b>Peso (Cm)</b>
	      <%= f.text_field :var_peso, class: 'form-control' %>
	    </div>	      
	    
	    <div class="col-md-2">	    
	      <b>Talla (Kg)</b>
	      <%= f.text_field :var_talla, class: 'form-control' %>
	    </div>	      
	    
	    <div class="col-md-4">	    
	      <b>Indice de masa corporal (IMC)</b>
	      <%= f.text_field :var_imc, class: 'form-control' %>
	    </div>	      
	    
	    <div class="col-md-4">	    
	      <b>Circunferencia de cintura (CC)</b>
	      <%= f.text_field :var_cc, class: 'form-control' %>
	    </div>	      
      
      <div class="spacer-5"></div>		
	</div>
	
	<!-- 2nd Tab -->
	<div role="tabpanel" class="tab-pane" id="tab1">
      <div class="spacer-5"></div>
      
      <div class="spacer-5"></div>      
      <div class="spacer-5"></div>
      <div class="col-md-12">
	  	<h4> pOpmtre </h4>
	  </div>      
      
      <div class="row">
      	<div class="col-md-offset-3 col-md-2 text-center"><b>1a</b></div>
      	<div class="col-md-2 text-center"><b>2a</b></div>
      	<div class="col-md-2 text-center"><b>3a</b></div>      	
      	<div class="col-md-2 text-center"><b>Promedio</b></div>        	
      </div> 
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>PWV</b></div>
      	<div class="col-md-2"><%= f.text_field :car_pwv1a, class: 'form-control' %></div>
      	<div class="col-md-2"><%= f.text_field :car_pwv2a, class: 'form-control' %></div>
      	<div class="col-md-2"><%= f.text_field :car_pwv3a, class: 'form-control' %></div>
      	<div class="col-md-2"><%= f.text_field :car_pwv4a, class: 'form-control' %></div>      	      	      	
      </div>
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>TT</b></div>
      	<div class="col-md-2"><%= f.text_field :car_tt1a, class: 'form-control' %></div>
      	<div class="col-md-2"><%= f.text_field :car_tt2a, class: 'form-control' %></div>
      	<div class="col-md-2"><%= f.text_field :car_tt3a, class: 'form-control' %></div>
      	<div class="col-md-2"><%= f.text_field :car_tt4a, class: 'form-control' %></div>      	      	      	
      </div>
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>Popscore</b></div>
      	<div class="col-md-2"><%= f.text_field :car_popscore1a, class: 'form-control' %></div>
      	<div class="col-md-2"><%= f.text_field :car_popscore2a, class: 'form-control' %></div>
      	<div class="col-md-2"><%= f.text_field :car_popscore3a, class: 'form-control' %></div>
      	<div class="col-md-2"><%= f.text_field :car_popscore4a, class: 'form-control' %></div>      	      	      	
      </div>            
      
      <div class="spacer-5"></div>      
      <div class="spacer-5"></div>      
      <div class="col-md-12">
	  	<h4> PulsePen </h4>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>VOPcf</b>
	    <%= f.text_field :car_vopcf, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>AP</b>
	    <%= f.text_field :car_ap, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>Car-Fem</b>
	    <%= f.text_field :car_carfem, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>Aix %</b>
	    <%= f.text_field :car_aix, class: 'form-control' %>
	  </div>	  	  	  
	  
	  <div class="col-md-4">	    
	    <b>Ppas</b>
	    <%= f.text_field :car_ppas, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>Car-is</b>
	    <%= f.text_field :car_caris, class: 'form-control' %>
	  </div>	  	  
	  
	  <div class="col-md-4">	    
	    <b>Presion central</b>
	    <%= f.text_field :car_presioncentral, class: 'form-control' %>
	  </div>	  
      
	  <div class="col-md-4">	    
	    <b>pPAD</b>
	    <%= f.text_field :car_ppad, class: 'form-control' %>
	  </div>      
	  
	  <div class="col-md-4">	    
	    <b>Is-Fem</b>
	    <%= f.text_field :car_isfem, class: 'form-control' %>
	  </div>	  
	  
	  <div class="col-md-4">	    
	    <b>cPP</b>
	    <%= f.text_field :car_cpp, class: 'form-control' %>
	  </div>	  
	  
	  <div class="col-md-4">	    
	    <b>Percentil</b>
	    <%= f.text_field :car_percentil, class: 'form-control' %>
	  </div>	  	  
	  
	  <div class="col-md-4">	    
	    <b>SEVR</b>
	    <%= f.text_field :car_sevr, class: 'form-control' %>
	  </div>	  
      
      <div class="spacer-5"></div>
	</div>
	
	<!-- 3rd Tab -->
	<div role="tabpanel" class="tab-pane" id="tab2">
      <div class="spacer-5"></div>
      
     <div class="spacer-5"></div>
    </div>
    </div>
    <div class="spacer-5"></div>
    
    <%= f.submit "Guardar", class: "btn btn-primary" %> 
    <% if @evaluation.appointment_id %>   
      <%= link_to "Atras", edit_appointment_path(@evaluation.appointment_id), class: "btn btn-primary" %>
    <% else %>
      <%= f.hidden_field :appointment_id, :value => @appointment.id %>
      <%= link_to "Atras", edit_appointment_path(@appointment.id), class: "btn btn-primary" %>
    <% end %>

  <% end %>
</div>