<div class="spacer-5"></div>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#tab0" aria-controls="tab0" role="tab" data-toggle="tab">General</a></li>
  <li role="presentation"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Cardiovascular</a></li>
  <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Seguimiento</a></li>
</ul>

<div class="form-horizontal">  
  <%= form_for(@evaluation) do |f| %>
    <div class="tab-content">

	<!-- 1st Tab -->
	<div role="tabpanel" class="tab-pane active" id="tab0">
      <div class="spacer-5"></div>
      
      <div class="col-md-12">
	  	<h4> Laboratoriales Quimica </h4>
	  </div>
		
	  <div class="col-md-4">	    
	    <b>Trigliceridos (TG)</b>
	    <%= f.text_field :var_tg, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>Liproteína de baja densidad (LDL)</b>
	    <%= f.text_field :var_ldl, class: 'form-control' %>
	  </div>	      	      
	   
	  <div class="col-md-4">	    
	    <b>Liproteína de alta densidad (HDL)</b>
	    <%= f.text_field :var_hdl, class: 'form-control' %>
	  </div>
	    
	  <div class="col-md-4">	    
	    <b>Liproteína de muy baja densidad (VLDL)</b>
	    <%= f.text_field :var_vldl, class: 'form-control' %>
	  </div>

	  <div class="col-md-4">	    
	    <b>Indice de Ateroesclerosis</b>
	    <%= f.text_field :qui_indice_aterosclerosis, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>Colesterol Total (CT)</b>
	    <%= f.text_field :var_ct, class: 'form-control' %>
	  </div>	  
	  
	  <div class="col-md-4">	    
	    <b>Glucosa (Glu)</b>
	    <%= f.text_field :var_glu, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>APO-A1</b>
	    <%= f.text_field :qui_apoa1, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>APO-B</b>
	    <%= f.text_field :qui_apob, class: 'form-control' %>
	  </div>	
	  
	  <div class="col-md-4">	    
	    <b>TGO/AST</b>
	    <%= f.text_field :qui_tgoast, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>Albumina</b>
	    <%= f.text_field :qui_albumina, class: 'form-control' %>
	  </div>
	  
      <div class="spacer-5"></div>      
      <div class="spacer-5"></div>	
      <div class="spacer-5"></div>
      
      <div class="col-md-12">
	  	<h4> Laboratoriales Reumatología </h4>
	  </div>  

      <div class="col-md-4">
	    <b>Factor Reumatoide (FR)</b>
	    <%= f.text_field :var_fr, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>C3</b>
	    <%= f.text_field :lab_reuma_c3, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>C4</b>
	    <%= f.text_field :lab_reuma_c4, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>Interleucina 1 (IL-1)</b>
	    <%= f.text_field :var_il1, class: 'form-control' %>
	  </div>	    
	    
	  <div class="col-md-4">	    
	    <b>Interleucina 6 (IL-6)</b>
	    <%= f.text_field :var_il6, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>AntiPAD3</b>
	    <%= f.text_field :lab_reuma_antipad3, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>AntiPAD4</b>
	    <%= f.text_field :lab_reuma_antipad4, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">
	    <b>Anticuerpo anti-peptido citrulinado (ACPA)</b>
	    <%= f.text_field :var_acpa, class: 'form-control' %>
	  </div>
	    
	  <div class="col-md-4">
	    <b>Factor de Necrosis Tumoral alfa (TNF-a)</b>
	    <%= f.text_field :var_tnfa, class: 'form-control' %>
	  </div>
	  
      <div class="spacer-5"></div>      
      <div class="spacer-5"></div>
      <div class="spacer-5"></div>	
      
      <div class="col-md-12">
	  	<h4> Laboratoriales Moleculares </h4>
	  </div>
	  
	  <div class="col-md-2">	    
	    <b>DNA</b>
	    <%= f.text_field :lab_mol_dna, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-2">	    
	    <b>RNA</b>
	    <%= f.text_field :lab_mol_rna, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-2">	    
	    <b>miRNA</b>
	    <%= f.text_field :lab_mol_mirna, class: 'form-control' %>
	  </div>
	  
      <div class="spacer-5"></div>      
      <div class="spacer-5"></div>	
      <div class="spacer-5"></div>
      
      <div class="col-md-12">
	  	<h4> Exploración Fisica </h4>
	  </div>
	  
	  <div class="col-md-3">	    
	    <b>TAS</b>
	    <%= f.text_field :exp_fisica_tas, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-3">	    
	    <b>TAD</b>
	    <%= f.text_field :exp_fisica_tad, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-3">	    
	    <b>TAM</b>
	    <%= f.text_field :exp_fisica_tam, class: 'form-control' %>
	  </div>	      
	    
	  <div class="col-md-3">	    
	    <b>Frequencia Respiratoria (Fr)</b>
	    <%= f.text_field :var_fresp, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-3">	    
	    <b>Frecuencia Cardiaca (FC)</b>
	    <%= f.text_field :var_fc, class: 'form-control' %>
	  </div>
	
	  <div class="col-md-3">	
	    <b>Temperatura (Temp)</b>
	    <%= f.text_field :var_temp, class: 'form-control' %>
	  </div>	      

      <div class="spacer-5"></div>      
      <div class="spacer-5"></div>	
      <div class="spacer-5"></div>
      
      <div class="col-md-12">
	  	<h4> Nutrición </h4>
	  </div>      
	    
	  <div class="col-md-3">	    
	    <b>Talla (Cm)</b>
	    <%= f.text_field :var_talla, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-3">	    
	    <b>Peso (Kg)</b>
	    <%= f.text_field :var_peso, class: 'form-control' %>
	  </div>	
	  
	  <div class="col-md-3">
	    <b>Indice de masa corporal (IMC)</b>
	    <%= f.text_field :var_imc, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-3">	    
	    <b>% Grasa Total</b>
	    <%= f.text_field :nut_grasa_total, class: 'form-control' %>
	  </div>	
	    
	  <div class="col-md-3">	    
	    <b>Circunferencia de cintura (CC)</b>
	    <%= f.text_field :var_cc, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-3">	    
	    <b>Circunferencia de cadera</b>
	    <%= f.text_field :nut_ccad, class: 'form-control' %>
	  </div>
	  
	  <div class="spacer-5"></div> 
      <div class="col-md-offset-1 col-md-11">
	  	<h4> Dinamometro de Mano</h4>
	  </div> 
	  
      <div class="row">
      	<div class="col-md-offset-3 col-md-2 text-center"><b>1a</b></div>
      	<div class="col-md-2 text-center"><b>2a</b></div>
      	<div class="col-md-2 text-center"><b>3a</b></div>      	
      	<div class="col-md-2 text-center"><b>Promedio</b></div>        	
      </div> 
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>Derecha</b></div>
      	<div class="col-md-2"><%= f.text_field :dinam_der1a, class: 'form-control', onchange: 'getDinamDerProm();' %></div>
      	<div class="col-md-2"><%= f.text_field :dinam_der2a, class: 'form-control', onchange: 'getDinamDerProm();' %></div>
      	<div class="col-md-2"><%= f.text_field :dinam_der3a, class: 'form-control', onchange: 'getDinamDerProm();' %></div>
      	<div class="col-md-2"><%= f.text_field :dinam_der4a, class: 'form-control' %></div>
      </div>
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>Izquierda</b></div>
      	<div class="col-md-2"><%= f.text_field :dinam_izq1a, class: 'form-control', onchange: 'getDinamIzqProm();' %></div>
      	<div class="col-md-2"><%= f.text_field :dinam_izq2a, class: 'form-control', onchange: 'getDinamIzqProm();' %></div>
      	<div class="col-md-2"><%= f.text_field :dinam_izq3a, class: 'form-control', onchange: 'getDinamIzqProm();' %></div>
      	<div class="col-md-2"><%= f.text_field :dinam_izq4a, class: 'form-control' %></div>      	      	      	
      </div>
	  
      <div class="spacer-5"></div>      
      <div class="spacer-5"></div>	
      <div class="spacer-5"></div>
      
      <div class="col-md-12">
	  	<h4> Reumatología </h4>
	  </div>

	  <div class="col-md-4">	    
	    <b>EVA Enfermedad</b>
	    <%= f.text_field :reuma_eva_enfermedad, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>EVA Dolor</b>
	    <%= f.text_field :reuma_eva_ddos, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>EVA Medico</b>
	    <%= f.text_field :reuma_eva_medico, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>CDAI</b>
	    <%= f.text_field :reuma_cdai, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>SDAI</b>
	    <%= f.text_field :reuma_sdai, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>Health Assessment Questionnaire (HAQ)</b>
	    <%= f.text_field :var_haq, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-5">	    
	    <b>NAD</b>
	    <%= f.text_field :reuma_nad, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-5">	    
	    <b>NAT</b>
	    <%= f.text_field :reuma_nat, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-5">	    
	    <b>Velocidad de sedimentación globular (VSG)</b>
	    <%= f.text_field :var_vsg, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-5">	    
	    <b>Disease Activity Score 28 (DAS-28 VSG)</b>
	    <%= f.text_field :var_das28, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-5">	    
	    <b>Proteína C reactiva (PCR)</b>
	    <%= f.text_field :var_pcr, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-5">
	    <b>Disease Activity Score 28 (DAS-28 PCR)</b>
	    <%= f.text_field :var_das28pcr, class: 'form-control' %>
	  </div>
	  
	  <div class="spacer-5"></div>
	</div>
	
	<!-- 2nd Tab -->
	<div role="tabpanel" class="tab-pane" id="tab1">
      <div class="spacer-5"></div>

      <div class="col-md-12">
	  	<h4> ARTLAB </h4>
	  </div> 
	  
      <div class="row">
      	<div class="col-md-offset-3 col-md-2 text-center"><b>Izquierda</b></div>
      	<div class="col-md-2 text-center"><b>Derecha</b></div>   
      	<div class="col-md-2 text-center"><b>Promedio</b></div>    	
      </div>
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>QIMT (&#181;m)</b></div>
      	<div class="col-md-2"><%= f.text_field :car_artlab_qimt_izq, class: 'form-control', onchange: 'getQimtProm();' %></div>
      	<div class="col-md-2"><%= f.text_field :car_artlab_qimt_der, class: 'form-control', onchange: 'getQimtProm();' %></div>    
      	<div class="col-md-2"><%= f.text_field :car_artlab_qimt_prom, class: 'form-control' %></div>  	      	      	
      </div>
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>Diámetro</b></div>
      	<div class="col-md-2"><%= f.text_field :car_artlab_diametro1_izq, class: 'form-control' %></div>
      	<div class="col-md-2"><%= f.text_field :car_artlab_diametro1_der, class: 'form-control' %></div>     	      	      	
      </div>
                  
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>QIMT Max (&#181;m)</b></div>
      	<div class="col-md-2"><%= f.text_field :car_artlab_qimtmax_izq, class: 'form-control' %></div>
      	<div class="col-md-2"><%= f.text_field :car_artlab_qimtmax_der, class: 'form-control' %></div>     	      	      	
      </div>
      
      <div class="row">
      	<div class="col-md-offset-7 col-md-2 text-center"><b>Distensibilidad</b></div>  	
      </div> 
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>Distensión (&#181;m)</b></div>
      	<div class="col-md-offset-2 col-md-2"><%= f.text_field :car_artlab_distension_der, class: 'form-control' %></div>
      	<div class="col-md-2"><%= f.text_field :car_artlab_distensibilidad_der, class: 'form-control' %></div>
      </div>
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>Diámetro (mm)</b></div>
      	<div class="col-md-offset-2 col-md-2"><%= f.text_field :car_artlab_diametro2_der, class: 'form-control' %></div>     	      	      	
      </div>
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>Psis braquial (mmHg)</b></div>
      	<div class="col-md-offset-2 col-md-2"><%= f.text_field :car_artlab_psisbraquial_der, class: 'form-control' %></div>     	      	      	
      </div>
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>Pdias braquial (mmHg)</b></div>
      	<div class="col-md-offset-2 col-md-2"><%= f.text_field :car_artlab_pdiasbraquial_der, class: 'form-control' %></div>     	      	      	
      </div>  
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>Psis local (mmHg)</b></div>
      	<div class="col-md-offset-2 col-md-2"><%= f.text_field :car_artlab_psislocal_der, class: 'form-control' %></div>     	      	      	
      </div>
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>Pdias local (mmHg)</b></div>
      	<div class="col-md-offset-2 col-md-2"><%= f.text_field :car_artlab_pdiaslocal_der, class: 'form-control' %></div>     	      	      	
      </div>
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>VOP m/s (carotídea)</b></div>
      	<div class="col-md-offset-2 col-md-2"><%= f.text_field :car_artlab_vop_der, class: 'form-control' %></div>     	      	      	
      </div>  
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>DC</b></div>
      	<div class="col-md-offset-2 col-md-2"><%= f.text_field :car_artlab_dc_der, class: 'form-control' %></div>     	      	      	
      </div> 
                        
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>CC</b></div>
      	<div class="col-md-offset-2 col-md-2"><%= f.text_field :car_artlab_cc_der, class: 'form-control' %></div>     	      	      	
      </div>
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>Alfa</b></div>
      	<div class="col-md-offset-2 col-md-2"><%= f.text_field :car_artlab_alfa_der, class: 'form-control' %></div>     	      	      	
      </div>
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>Beta</b></div>
      	<div class="col-md-offset-2 col-md-2"><%= f.text_field :car_artlab_beta_der, class: 'form-control' %></div>     	      	      	
      </div>   
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>ICP (ms)</b></div>
      	<div class="col-md-offset-2 col-md-2"><%= f.text_field :car_artlab_icp_der, class: 'form-control' %></div>     	      	      	
      </div>
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>ED (ms)</b></div>
      	<div class="col-md-offset-2 col-md-2"><%= f.text_field :car_artlab_ed_der, class: 'form-control' %></div>     	      	      	
      </div>      
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>P(T1) mmHg</b></div>
      	<div class="col-md-offset-2 col-md-2"><%= f.text_field :car_artlab_p_der, class: 'form-control' %></div>     	      	      	
      </div>
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>AP (mmHg)</b></div>
      	<div class="col-md-offset-2 col-md-2"><%= f.text_field :car_artlab_ap_der, class: 'form-control' %></div>     	      	      	
      </div>      
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>Aix %</b></div>
      	<div class="col-md-offset-2 col-md-2"><%= f.text_field :car_artlab_aix_der, class: 'form-control' %></div>     	      	      	
      </div>      
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>Presencia Placa (Si/No)</b></div>
      	<div class="col-md-2 text-center"><%= f.check_box :car_artlab_presenciaplaca_izq, class: 'checkbox' %></div>
      	<div class="col-md-2 text-center"><%= f.check_box :car_artlab_presenciaplaca_der, class: 'checkbox' %></div>      	      	      	
      </div>      
      
      <div class="spacer-5"></div>      
      <div class="spacer-5"></div>
      <div class="col-md-12">
	  	<h4> pOpmtre </h4>
	  </div>      
      
      <div class="row">
      	<div class="col-md-offset-3 col-md-2 text-center"><b>1a</b></div>
      	<div class="col-md-2 text-center"><b>2a</b></div>
      	<div class="col-md-2 text-center"><b>3a</b></div>      	
      	<div class="col-md-2 text-center"><b>Promedio</b></div>        	
      </div> 

      <%
        # In case the value is null, it calculates it automatically
        @pwd_prom = @evaluation.car_pwv4a
        if @evaluation.car_pwv4a.to_s.empty?
          if @evaluation.car_pwv3a.to_s.empty?
            @pwd_prom = (@evaluation.car_pwv1a.to_f + @evaluation.car_pwv2a.to_f) / 2
          else
            @pwd_prom = (@evaluation.car_pwv1a.to_f + @evaluation.car_pwv2a.to_f + @evaluation.car_pwv3a.to_f) / 3
          end
          @pwd_prom = @pwd_prom.round(2)
        end

        @tt_prom = @evaluation.car_tt4a
        if @evaluation.car_tt4a.to_s.empty?
          if @evaluation.car_tt3a.to_s.empty?
            @tt_prom = (@evaluation.car_tt1a.to_f + @evaluation.car_tt2a.to_f) / 2
          else
            @tt_prom = (@evaluation.car_tt1a.to_f + @evaluation.car_tt2a.to_f + @evaluation.car_tt3a.to_f) / 3
		  end
		  @tt_prom = @tt_prom.round(2)
		end

        @pop_prom = @evaluation.car_popscore4a
        if @evaluation.car_popscore4a.to_s.empty?
		  if @evaluation.car_popscore3a.to_s.empty?
            @pop_prom = (@evaluation.car_popscore1a.to_f + @evaluation.car_popscore2a.to_f) / 2
          else
            @pop_prom = (@evaluation.car_popscore1a.to_f + @evaluation.car_popscore2a.to_f + @evaluation.car_popscore3a.to_f) / 3
		  end
		  @pop_prom = @pop_prom.round(2)
		end
      %>

      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>PWV</b></div>
      	<div class="col-md-2"><%= f.text_field :car_pwv1a, class: 'form-control', onchange: 'getPWVProm();' %></div>
      	<div class="col-md-2"><%= f.text_field :car_pwv2a, class: 'form-control', onchange: 'getPWVProm();' %></div>
      	<div class="col-md-2"><%= f.text_field :car_pwv3a, class: 'form-control', onchange: 'getPWVProm();' %></div>
      	<div class="col-md-2"><%= f.text_field :car_pwv4a, class: 'form-control' %></div>
      </div>
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>TT</b></div>
      	<div class="col-md-2"><%= f.text_field :car_tt1a, class: 'form-control', onchange: 'getTTProm();' %></div>
      	<div class="col-md-2"><%= f.text_field :car_tt2a, class: 'form-control', onchange: 'getTTProm();' %></div>
      	<div class="col-md-2"><%= f.text_field :car_tt3a, class: 'form-control', onchange: 'getTTProm();' %></div>
      	<div class="col-md-2"><%= f.text_field :car_tt4a, class: 'form-control' %></div>      	      	      	
      </div>
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2"><b>Popscore</b></div>
      	<div class="col-md-2"><%= f.text_field :car_popscore1a, class: 'form-control', onchange: 'getPOPProm();' %></div>
      	<div class="col-md-2"><%= f.text_field :car_popscore2a, class: 'form-control', onchange: 'getPOPProm();' %></div>
      	<div class="col-md-2"><%= f.text_field :car_popscore3a, class: 'form-control', onchange: 'getPOPProm();' %></div>
      	<div class="col-md-2"><%= f.text_field :car_popscore4a, class: 'form-control' %></div>
      </div>            
      
      <div class="spacer-5"></div>      
      <div class="spacer-5"></div>      
      <div class="col-md-12">
	  	<h4> PulsePen </h4>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>VOPcf</b>
	    <%= f.text_field :car_vopcf, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>AP</b>
	    <%= f.text_field :car_ap, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>Car-Fem</b>
	    <%= f.text_field :car_carfem, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>Aix %</b>
	    <%= f.text_field :car_aix, class: 'form-control' %>
	  </div>	  	  	  
	  
	  <div class="col-md-4">	    
	    <b>Ppas</b>
	    <%= f.text_field :car_ppas, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>Car-is</b>
	    <%= f.text_field :car_caris, class: 'form-control' %>
	  </div>	  	  
	  
	  <div class="col-md-4">	    
	    <b>Presion central</b>
	    <%= f.text_field :car_presioncentral, class: 'form-control' %>
	  </div>	  
      
	  <div class="col-md-4">	    
	    <b>pPAD</b>
	    <%= f.text_field :car_ppad, class: 'form-control' %>
	  </div>      
	  
	  <div class="col-md-4">	    
	    <b>Is-Fem</b>
	    <%= f.text_field :car_isfem, class: 'form-control' %>
	  </div>	  
	  
	  <div class="col-md-4">	    
	    <b>cPP</b>
	    <%= f.text_field :car_cpp, class: 'form-control' %>
	  </div>	  
	  
	  <div class="col-md-4">	    
	    <b>Percentil</b>
	    <%= f.text_field :car_percentil, class: 'form-control' %>
	  </div>	  	  
	  
	  <div class="col-md-4">	    
	    <b>SEVR</b>
	    <%= f.text_field :car_sevr, class: 'form-control' %>
	  </div>	  
      
      <div class="spacer-5"></div>      
      <div class="spacer-5"></div>      
      <div class="col-md-12">
	  	<h4> CAVI </h4>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>CAVI-I</b>
	    <%= f.text_field :car_cavi_izq, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>CAVI-D</b>
	    <%= f.text_field :car_cavi_der, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">	    
	    <b>CAVI Promedio</b>
	    <%= f.text_field :car_cavi_prom, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">
	    <b>ABI-I</b>
	    <%= f.text_field :car_abi_izq, class: 'form-control' %>
	  </div>
  
	  <div class="col-md-4">
	    <b>ABI-D</b>
	    <%= f.text_field :car_abi_der, class: 'form-control' %>
	  </div>
	  
	  <div class="col-md-4">
	    <b>ABI Promedio</b>
	    <%= f.text_field :car_abi_prom, class: 'form-control' %>
	  </div> 
      
      <div class="spacer-5"></div>
	</div>
	
	<!-- 3rd Tab -->
	<div role="tabpanel" class="tab-pane" id="tab2">
      <div class="spacer-5"></div>
      
      <div class="col-md-offset-5 col-md-7">
	  	<h4> Datos Clínicos </h4>
	  </div>  
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2 text-right"><b>Peso (Kg)</b></div>
        <div class="col-md-2">
	      <%= f.text_field :seg_peso, class: 'form-control' %>
	    </div>
	    
	    <div class="col-md-offset-1 col-md-2 text-right"><b>FC (lpm)</b></div>
        <div class="col-md-2">
	      <%= f.text_field :seg_fc, class: 'form-control' %>
	    </div>
      </div>
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2 text-right"><b>Talla (m)</b></div>
        <div class="col-md-2">
	      <%= f.text_field :seg_talla, class: 'form-control' %>
	    </div>
	    
	    <div class="col-md-offset-1 col-md-2 text-right"><b>FR (rpm)</b></div>
        <div class="col-md-2">
	      <%= f.text_field :seg_fr, class: 'form-control' %>
	    </div>
      </div> 
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2 text-right"><b>IMC (Kg/m2)</b></div>
        <div class="col-md-2">
	      <%= f.text_field :seg_imc, class: 'form-control' %>
	    </div>
	    
	    <div class="col-md-offset-1 col-md-2 text-right"><b>TA (mmHg)</b></div>
        <div class="col-md-1">
	      <%= f.text_field :seg_ta1, class: 'form-control' %>
	    </div>
	    <div class="col-md-1 text-left">
	      <%= f.text_field :seg_ta2, class: 'form-control' %>
	    </div>
      </div>
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2 text-right"><b>Grasa Corporal (%)</b></div>
        <div class="col-md-2">
	      <%= f.text_field :seg_body_fat, class: 'form-control' %>
	    </div>
	    
	    <div class="col-md-offset-1 col-md-2 text-right"><b>Circunferencia &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cintura (cm)</b></div>
        <div class="col-md-2">
	      <%= f.text_field :seg_waist_circumference, class: 'form-control' %>
	    </div>
      </div> 
      
      <div class="row">
      	<div class="col-md-offset-1 col-md-2 text-right"><b>Circunferencia abdominal (cm)</b></div>
        <div class="col-md-2">
	      <%= f.text_field :seg_abdominal_girth, class: 'form-control' %>
	    </div>
      </div>       
      
      <div class="spacer-5"></div>
      
      <div class="row">
      	<div class="col-md-offset-2 col-md-3 text-center"><h4> Apego al tratamiento </h4></div>
	  	<div class="col-md-offset-2 col-md-3 text-center"><h4> Tolerabilidad y efectos adversos </h4></div>
	  </div> 

      <div class="row">
      	<div class="col-md-2 text-right"><b>Fecha de la 1era dosis</b></div>
        <div class="col-md-2">
	      <%= f.date_field :seg_firstdose_date, class: 'form-control' %>
	    </div>
	    
	    <div class="col-md-offset-1 col-md-2 text-right"><b>Duración y descripción del evento adverso:</b></div>
        <div class="col-md-5">
	      <%= f.text_area :seg_event_description, class: 'form-control', rows: 2  %>
	    </div>
      </div>
      
      <div class="row">
      	<div class="col-md-2 text-right"><b>Fecha de la última dosis</b></div>
        <div class="col-md-2">
	      <%= f.date_field :seg_lastdose_date, class: 'form-control' %>
	    </div>
      </div>
      
      <div class="row">
      	<div class="col-md-2 text-right"><b>Ha olvidado alguna Dosificación:</b></div>
        <div class="col-md-2">
	      <%= f.check_box :seg_missed_dose, class: 'checkbox' %>
	    </div>
      </div> 
      
      <div class="row">
      	<div class="col-md-2 text-right"><b>¿Cuando?</b></div>
        <div class="col-md-3">
	      <%= f.text_field :seg_missed_details, class: 'form-control' %>
	    </div>
      </div> 
      
      <div class="row">
      	<div class="col-md-2 text-right"><b>Recuento de Medicamento</b></div>
        <div class="col-md-3">
	      <%= f.text_field :seg_medicament_count, class: 'form-control' %>
	    </div>
      </div>
     
     <div class="spacer-5"></div>
    </div>
    </div>
    <div class="spacer-5"></div>
    
    <%= f.submit "Guardar", class: "btn btn-primary" %> 
    <% if @evaluation.appointment_id %>   
      <%= link_to "Atras", edit_appointment_path(@evaluation.appointment_id), class: "btn btn-primary" %>
    <% else %>
      <%= f.hidden_field :appointment_id, :value => @appointment.id %>
      <%= link_to "Atras", edit_appointment_path(@appointment.id), class: "btn btn-primary" %>
    <% end %>

  <% end %>
</div>