<h1> Editar Protocolo </h1>

<div class="spacer-5"></div>

<div class="form-horizontal">
  <%= form_for(@research) do |f| %>

    <b>Codigo</b>
    <%= f.text_field :code, class: 'form-control' %>
     
    <b>Nombre</b>
    <%= f.text_field :name, class: 'form-control' %>
    
    <b>Encargado</b>
    <%= f.collection_select :user_id, @owners, :id, :firstname, {:include_blank => false}, {:class => 'form-control'} %>

    <b>Descripcion</b>
    <%= f.text_area :description, class: 'form-control', rows: 7 %>

    <div class="spacer-5"></div>

    <%= f.submit "Guardar", class: "btn btn-primary" %>     
    <%= link_to "Atras", research_path(@research.id), class: "btn btn-primary" %>
  <% end %>
</div>