<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Codigo IIRSME</Data></Cell>
        <Cell><Data ss:Type="String">Codigo EEVA</Data></Cell>
        <Cell><Data ss:Type="String">Fecha de Nacimiento</Data></Cell>
        <Cell><Data ss:Type="String">Edad</Data></Cell>
        <Cell><Data ss:Type="String">Fecha de DX</Data></Cell>
        <Cell><Data ss:Type="String">Inicio Enfermedad</Data></Cell>
        <Cell><Data ss:Type="String">Dia</Data></Cell>
        <Cell><Data ss:Type="String">Dia</Data></Cell>
        <Cell><Data ss:Type="String">TAS</Data></Cell>
        <Cell><Data ss:Type="String">TAS</Data></Cell>
        <Cell><Data ss:Type="String">TAD</Data></Cell>
        <Cell><Data ss:Type="String">TAD</Data></Cell>
        <Cell><Data ss:Type="String">TAM</Data></Cell>
        <Cell><Data ss:Type="String">TAM</Data></Cell>
        <Cell><Data ss:Type="String">Frecuencia Respiratoria</Data></Cell>
        <Cell><Data ss:Type="String">Frecuencia Respiratoria</Data></Cell>
        <Cell><Data ss:Type="String">Frecuencia Cardiaca</Data></Cell>
        <Cell><Data ss:Type="String">Frecuencia Cardiaca</Data></Cell>
        <Cell><Data ss:Type="String">Temperatura</Data></Cell>
        <Cell><Data ss:Type="String">Temperatura</Data></Cell>
        <Cell><Data ss:Type="String">Talla</Data></Cell>
        <Cell><Data ss:Type="String">Talla</Data></Cell>
        <Cell><Data ss:Type="String">Peso</Data></Cell>
        <Cell><Data ss:Type="String">Peso</Data></Cell>
        <Cell><Data ss:Type="String">IMC</Data></Cell>
        <Cell><Data ss:Type="String">IMC</Data></Cell>
        <Cell><Data ss:Type="String">% Grasa Total</Data></Cell>
        <Cell><Data ss:Type="String">% Grasa Total</Data></Cell>
        <Cell><Data ss:Type="String">Circunferencia Cintura</Data></Cell>
        <Cell><Data ss:Type="String">Circunferencia Cintura</Data></Cell>
        <Cell><Data ss:Type="String">Circunferencia Cadera</Data></Cell>
        <Cell><Data ss:Type="String">Circunferencia Cadera</Data></Cell>
        <Cell><Data ss:Type="String">Promedio Derecha</Data></Cell>
        <Cell><Data ss:Type="String">Promedio Derecha</Data></Cell>
        <Cell><Data ss:Type="String">Promedio Izquierda</Data></Cell>
        <Cell><Data ss:Type="String">Promedio Izquierda</Data></Cell>
        <Cell><Data ss:Type="String">EVA Enfermedad</Data></Cell>
        <Cell><Data ss:Type="String">EVA Enfermedad</Data></Cell>
        <Cell><Data ss:Type="String">EVA Dolor</Data></Cell>
        <Cell><Data ss:Type="String">EVA Dolor</Data></Cell>
        <Cell><Data ss:Type="String">EVA Medico</Data></Cell>
        <Cell><Data ss:Type="String">EVA Medico</Data></Cell>
        <Cell><Data ss:Type="String">CDAI</Data></Cell>
        <Cell><Data ss:Type="String">CDAI</Data></Cell>
        <Cell><Data ss:Type="String">SDAI</Data></Cell>
        <Cell><Data ss:Type="String">SDAI</Data></Cell> 
        <Cell><Data ss:Type="String">HAQ</Data></Cell>
        <Cell><Data ss:Type="String">HAQ</Data></Cell> 
        <Cell><Data ss:Type="String">NAD</Data></Cell>
        <Cell><Data ss:Type="String">NAD</Data></Cell> 
        <Cell><Data ss:Type="String">NAT</Data></Cell>
        <Cell><Data ss:Type="String">NAT</Data></Cell>  
        <Cell><Data ss:Type="String">VSG</Data></Cell>
        <Cell><Data ss:Type="String">VSG</Data></Cell> 
        <Cell><Data ss:Type="String">PCR</Data></Cell>
        <Cell><Data ss:Type="String">PCR</Data></Cell> 
        <Cell><Data ss:Type="String">DAS28 VSG</Data></Cell>
        <Cell><Data ss:Type="String">DAS28 VSG</Data></Cell> 
        <Cell><Data ss:Type="String">DAS28 PCR</Data></Cell>
        <Cell><Data ss:Type="String">DAS28 PCR</Data></Cell>  
        <Cell><Data ss:Type="String">Trigliceridos</Data></Cell>
        <Cell><Data ss:Type="String">Trigliceridos</Data></Cell> 
		<Cell><Data ss:Type="String">LDL</Data></Cell>
		<Cell><Data ss:Type="String">LDL</Data></Cell>
		<Cell><Data ss:Type="String">HDL</Data></Cell>
		<Cell><Data ss:Type="String">HDL</Data></Cell>
		<Cell><Data ss:Type="String">VLDL</Data></Cell>
		<Cell><Data ss:Type="String">VLDL</Data></Cell>
		<Cell><Data ss:Type="String">Indice AR. </Data></Cell>
		<Cell><Data ss:Type="String">Indice AR. </Data></Cell>
		<Cell><Data ss:Type="String">Colesterol</Data></Cell>
		<Cell><Data ss:Type="String">Colesterol</Data></Cell>
		<Cell><Data ss:Type="String">Glucosa </Data></Cell>
		<Cell><Data ss:Type="String">Glucosa </Data></Cell>
		<Cell><Data ss:Type="String">Apo-A1</Data></Cell>
		<Cell><Data ss:Type="String">Apo-A1</Data></Cell>
		<Cell><Data ss:Type="String">Apo-b</Data></Cell>
		<Cell><Data ss:Type="String">Apo-b</Data></Cell>
		<Cell><Data ss:Type="String">TGO/AST</Data></Cell>
		<Cell><Data ss:Type="String">TGO/AST</Data></Cell>
		<Cell><Data ss:Type="String">Albúmina </Data></Cell>
		<Cell><Data ss:Type="String">Albúmina </Data></Cell>
		<Cell><Data ss:Type="String">Factor Reumatoide </Data></Cell>
		<Cell><Data ss:Type="String">Factor Reumatoide </Data></Cell>
		<Cell><Data ss:Type="String">C3</Data></Cell>
		<Cell><Data ss:Type="String">C3</Data></Cell>
		<Cell><Data ss:Type="String">C4</Data></Cell>
		<Cell><Data ss:Type="String">C4</Data></Cell>
		<Cell><Data ss:Type="String">IL-1</Data></Cell>
		<Cell><Data ss:Type="String">IL-1</Data></Cell>
		<Cell><Data ss:Type="String">IL-6</Data></Cell>
		<Cell><Data ss:Type="String">IL-6</Data></Cell>
		<Cell><Data ss:Type="String">Anti Pad 3 </Data></Cell>
		<Cell><Data ss:Type="String">Anti Pad 3 </Data></Cell>
		<Cell><Data ss:Type="String">Anti Pad 4</Data></Cell>
		<Cell><Data ss:Type="String">Anti Pad 4</Data></Cell>
		<Cell><Data ss:Type="String">ACPA</Data></Cell>
		<Cell><Data ss:Type="String">ACPA</Data></Cell>
		<Cell><Data ss:Type="String">TNF-A</Data></Cell>
		<Cell><Data ss:Type="String">TNF-A</Data></Cell>
		<Cell><Data ss:Type="String">DNA</Data></Cell>
		<Cell><Data ss:Type="String">DNA</Data></Cell>
		<Cell><Data ss:Type="String">RNA</Data></Cell>
		<Cell><Data ss:Type="String">RNA</Data></Cell>
		<Cell><Data ss:Type="String">mi RNA</Data></Cell>
		<Cell><Data ss:Type="String">mi RNA</Data></Cell>
		<Cell><Data ss:Type="String">QIMT Izquierdo </Data></Cell>
		<Cell><Data ss:Type="String">QIMT Izquierdo </Data></Cell>
		<Cell><Data ss:Type="String">QIMT derecho </Data></Cell>
		<Cell><Data ss:Type="String">QIMT derecho </Data></Cell>
		<Cell><Data ss:Type="String">QIMT promedio </Data></Cell>
		<Cell><Data ss:Type="String">QIMT promedio </Data></Cell>
		<Cell><Data ss:Type="String">Diámetro Izquierdo</Data></Cell>
		<Cell><Data ss:Type="String">Diámetro Izquierdo</Data></Cell>
		<Cell><Data ss:Type="String">Diámetro Derecho</Data></Cell>
		<Cell><Data ss:Type="String">Diámetro Derecho</Data></Cell>
		<Cell><Data ss:Type="String">QIMT Max Izq</Data></Cell>
		<Cell><Data ss:Type="String">QIMT Max Izq</Data></Cell>
		<Cell><Data ss:Type="String">QIMT Max Der</Data></Cell>
		<Cell><Data ss:Type="String">QIMT Max Der</Data></Cell>
		<Cell><Data ss:Type="String">Distensión</Data></Cell>
		<Cell><Data ss:Type="String">Distensión</Data></Cell>
		<Cell><Data ss:Type="String">Diámetro </Data></Cell>
		<Cell><Data ss:Type="String">Diámetro </Data></Cell>
		<Cell><Data ss:Type="String">Distensinbilidad </Data></Cell>
		<Cell><Data ss:Type="String">Distensinbilidad </Data></Cell>
		<Cell><Data ss:Type="String">PSIS Braquial</Data></Cell>
		<Cell><Data ss:Type="String">PSIS Braquial</Data></Cell>
		<Cell><Data ss:Type="String">PDIAS Braquial </Data></Cell>
		<Cell><Data ss:Type="String">PDIAS Braquial </Data></Cell>
		<Cell><Data ss:Type="String">PSIS local</Data></Cell>
		<Cell><Data ss:Type="String">PSIS local</Data></Cell>
		<Cell><Data ss:Type="String">PDIAS local</Data></Cell>
		<Cell><Data ss:Type="String">PDIAS local</Data></Cell>
		<Cell><Data ss:Type="String">Vo</Data></Cell>
		<Cell><Data ss:Type="String">Vo</Data></Cell>
		<Cell><Data ss:Type="String">DC</Data></Cell>
		<Cell><Data ss:Type="String">DC</Data></Cell>
		<Cell><Data ss:Type="String">CC</Data></Cell>
		<Cell><Data ss:Type="String">CC</Data></Cell>
		<Cell><Data ss:Type="String">Alfa</Data></Cell>
		<Cell><Data ss:Type="String">Alfa</Data></Cell>
		<Cell><Data ss:Type="String">Beta</Data></Cell>
		<Cell><Data ss:Type="String">Beta</Data></Cell>
		<Cell><Data ss:Type="String">ICP</Data></Cell>
		<Cell><Data ss:Type="String">ICP</Data></Cell>
		<Cell><Data ss:Type="String">ED</Data></Cell>
		<Cell><Data ss:Type="String">ED</Data></Cell>
		<Cell><Data ss:Type="String">P (T1)</Data></Cell>
		<Cell><Data ss:Type="String">P (T1)</Data></Cell>
		<Cell><Data ss:Type="String">AP</Data></Cell>
		<Cell><Data ss:Type="String">AP</Data></Cell>
		<Cell><Data ss:Type="String">Aix </Data></Cell>
		<Cell><Data ss:Type="String">Aix </Data></Cell>
		<Cell><Data ss:Type="String">Presencia Placa Izquierdo</Data></Cell>
		<Cell><Data ss:Type="String">Presencia Placa Izquierdo</Data></Cell>
		<Cell><Data ss:Type="String">Presencia Placa derecha </Data></Cell>
		<Cell><Data ss:Type="String">Presencia Placa derecha </Data></Cell>
		<Cell><Data ss:Type="String">PWV promedio</Data></Cell>
		<Cell><Data ss:Type="String">PWV promedio</Data></Cell>
		<Cell><Data ss:Type="String">TT promedio </Data></Cell>
		<Cell><Data ss:Type="String">TT promedio </Data></Cell>
		<Cell><Data ss:Type="String">Popscore promedio </Data></Cell>
		<Cell><Data ss:Type="String">Popscore promedio </Data></Cell>
		<Cell><Data ss:Type="String">VOPcf</Data></Cell>
		<Cell><Data ss:Type="String">VOPcf</Data></Cell>
		<Cell><Data ss:Type="String">Aix </Data></Cell>
		<Cell><Data ss:Type="String">Aix </Data></Cell>
		<Cell><Data ss:Type="String">Presión Central </Data></Cell>
		<Cell><Data ss:Type="String">Presión Central </Data></Cell>
		<Cell><Data ss:Type="String">cPP</Data></Cell>
		<Cell><Data ss:Type="String">cPP</Data></Cell>
		<Cell><Data ss:Type="String">AP</Data></Cell>
		<Cell><Data ss:Type="String">AP</Data></Cell>
		<Cell><Data ss:Type="String">Ppas</Data></Cell>
		<Cell><Data ss:Type="String">Ppas</Data></Cell>
		<Cell><Data ss:Type="String">Ppad</Data></Cell>
		<Cell><Data ss:Type="String">Ppad</Data></Cell>
		<Cell><Data ss:Type="String">Percentil</Data></Cell>
		<Cell><Data ss:Type="String">Percentil</Data></Cell>
		<Cell><Data ss:Type="String">Car-Fem</Data></Cell>
		<Cell><Data ss:Type="String">Car-Fem</Data></Cell>
		<Cell><Data ss:Type="String">Car-Is</Data></Cell>
		<Cell><Data ss:Type="String">Car-Is</Data></Cell>
		<Cell><Data ss:Type="String">Is-Fem</Data></Cell>
		<Cell><Data ss:Type="String">Is-Fem</Data></Cell>
		<Cell><Data ss:Type="String">SEVR</Data></Cell>
		<Cell><Data ss:Type="String">SEVR</Data></Cell>
		<Cell><Data ss:Type="String">CAVI-I</Data></Cell>
		<Cell><Data ss:Type="String">CAVI-I</Data></Cell>
		<Cell><Data ss:Type="String">CAVI-D</Data></Cell>
		<Cell><Data ss:Type="String">CAVI-D</Data></Cell>
		<Cell><Data ss:Type="String">CAVI-promedio </Data></Cell>
		<Cell><Data ss:Type="String">CAVI-promedio </Data></Cell>
		<Cell><Data ss:Type="String">ABI-I</Data></Cell>
		<Cell><Data ss:Type="String">ABI-I</Data></Cell>
		<Cell><Data ss:Type="String">ABI-D</Data></Cell>
		<Cell><Data ss:Type="String">ABI-D</Data></Cell>
      </Row>
    <% @records.each do |record| %>
      <Row>
        <Cell><Data ss:Type="String"><%= record.code_iirsme %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.code_eeva %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.birthdate %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.age %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.diagnosisdate %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.disease_startdate %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.day1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.day2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.tas1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.tas2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.tad1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.tad2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.tam1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.tam2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.freq_resp1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.freq_resp2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.freq_card1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.freq_card2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.temp1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.temp2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.talla1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.talla2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.peso1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.peso2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.imc1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.imc2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.grasa1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.grasa2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.ccin1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.ccin2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.ccad1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.ccad2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.prom_izq1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.prom_izq2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.prom_der1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.prom_der2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.eva_enf1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.eva_enf2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.eva_dolor1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.eva_dolor2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.eva_medico1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.eva_medico2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.cdai1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.cdai2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.sdai1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.sdai2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.haq1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.haq2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.nad1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.nad2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.nat1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.nat2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.vsg1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.vsg2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.pcr1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.pcr2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.das28_1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.das28_2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.das28pcr1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.das28pcr2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.tg1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.tg2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.ldl1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.ldl2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.hdl1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.hdl2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.vldl1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.vldl2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.indice_ar1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.indice_ar2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.ct1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.ct2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.glu1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.glu2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.apoa1_1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.apoa1_2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.apob1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.apob2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.tgoast1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.tgoast2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.albumina1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.albumina2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.fr1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.fr2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.c3_1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.c3_2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.c4_1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.c4_2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.il1_1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.il1_2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.il6_1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.il6_2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.antipad3_1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.antipad3_2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.antipad4_1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.antipad4_2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.acpa1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.acpa2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.tnfa1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.tnfa2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.dna1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.dna2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.rna1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.rna2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.mirna1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.mirna2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.qimt_izq1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.qimt_izq2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.qimt_der1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.qimt_der2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.qimt_prom1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.qimt_prom2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.diam_izq1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.diam_izq2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.diam_der1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.diam_der2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.qimtmax_izq1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.qimtmax_izq2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.qimtmax_der1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.qimtmax_der2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.distension1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.distension2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.diametro1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.diametro2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.distensibilidad1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.distensibilidad2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.psisbraq1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.psisbraq2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.pdiasbraq1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.pdiasbraq2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.psislocal1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.psislocal2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.pdiaslocal1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.pdiaslocal2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.vo1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.vo2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.dc1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.dc2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.cc1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.cc2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.alfa1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.alfa2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.beta1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.beta2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.icp1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.icp2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.ed1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.ed2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.p1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.p2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.ap1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.ap2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.aix1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.aix2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.placa_izq1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.placa_izq2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.placa_der1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.placa_der2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.pwv1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.pwv2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.ttp1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.ttp2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.pop1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.pop2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.vopcf1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.vopcf2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.aixx1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.aixx2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.presion_cent1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.presion_cent2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.ccp1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.ccp2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.app1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.app2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.ppas1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.ppas2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.ppad1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.ppad2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.percentil1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.percentil2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.carfem1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.carfem2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.caris1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.caris2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.isfem1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.isfem2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.sevr1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.sevr2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.cavii1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.cavii2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.cavid1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.cavid2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.cavi_prom1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.cavi_prom2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.abii1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.abii2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.abid1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.abid2 %></Data></Cell>       
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>