<h1><b>Detalles del Protocolo</b></h1>

<div class="spacer-5"></div>

<div class="col-md-11">
  <h2>Pacientes Registrados</h3>
</div>

<div class="spacer-5"></div>

<div class="form-inline col-md-11">
  <%= form_for(@patient) do |f| %>
    <b>Codigo <%= @research.code %></b>
    <%= f.text_field :code, class: 'form-control' %>

    <b>Candidato</b>
    <%= f.collection_select :person_id, @people, :id, :identifier, {:include_blank => true}, {:class => 'form-control'} %>
    
    <%= f.hidden_field :research_id, :value => @research.id %>
    <%= f.hidden_field :quick_creation, :value => true %>
    <%= f.submit "Agregar Paciente", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="spacer-5"></div>
<div class="spacer-5"></div>

<div class="form-group col-md-3">
  <label class="control-label">Filtrar por Codigo <%= @research.code %>:</label>
  <input class="form-control" id="patient_code_picker" type="text" onkeyup="filterTable('patient_code_picker', 'patients_table', 0)"/>
</div>

<div class="table-responsive col-md-12">
  <table class="table table-hover table-condensed table-bordered table-striped" id="patients_table">
  	<thead>
    <tr class="table-header">
	  <th class="row-center">Codigo <%= @research.code %></th>
	  <th class="row-center">Codigo IIRSME</th>
	  <th class="row-center">Candidato</th>
	  <th class="row-center">Telefono</th>
	  <th class="row-center">Celular</th>
	  <th class="col-md-1"></th>
	</tr>
	</thead>

	<tbody>
	  <% @patients.each_with_index do |patient, idx| %>
  	  <% person = patient.person %>
  	  <tr>
  	  	<td class="row-center"><%= patient.code %></td>
  	  	<td class="row-center"><%= person.code %></td>
  	  	<td><%= person.firstname + ' ' + person.lastname %></td>
  	  	<td class="row-center"><%= person.phone %></td>
  	  	<td class="row-center"><%= person.cellphone %></td>  	 
		<td class="row-center">
	  	  <%= link_to edit_patient_path(patient.id), title: 'Ver Detalles', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
	  	    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
	  	  <% end %>
	      <%= link_to patient, method: :delete, data: { confirm: "¿Estas seguro que quieres eliminar este paciente?" }, title: 'Eliminar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
	  	    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
	  	  <% end %>
	    </td>  	  	 	
	</tr>
	<% end %>
	</tbody>
  </table>
</div>