<h1> Detalles del protocolo </h1>

<div class="spacer-5"></div>

<h3> Pacientes </h3>

<div class="spacer-5"></div>

<div class="form-inline">
  <%= form_for(@patient) do |f| %>
    <b>Codigo</b>
    <%= f.text_field :code, class: 'form-control' %>

    <b>Persona</b>
    <%= f.collection_select :person_id, @people, :id, :firstname, {:include_blank => true}, {:class => 'form-control'} %>
    
    <%= f.hidden_field :research_id, :value => @research.id %>
    <%= f.hidden_field :quick_creation, :value => true %>
    <%= f.submit "Agregar Paciente", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="spacer-5"></div>

<div class="row header">
  <div class="col-xs-.3 col-sm-2 col-md-2 col-lg-2"> Codigo Medicina </div>
  <div class="col-xs-.3 col-sm-2 col-md-2 col-lg-2"> Codigo Registro </div>  
  <div class="col-xs-.3 col-sm-2 col-md-2 col-lg-2"> Nombre(s) </div>
  <div class="col-xs-.3 col-sm-2 col-md-2 col-lg-2"> Apellidos </div>
  <div class="col-xs-.2 col-sm-1 col-md-1 col-lg-1"> Telefono </div>
  <div class="col-xs-.2 col-sm-1 col-md-1 col-lg-1"></div>
  <div class="col-xs-.2 col-sm-1 col-md-1 col-lg-1"></div>
</div>

<% @patients.each_with_index do |patient, idx| %>
  <% if (idx % 2 == 0) %>
    <div class="row content-even">
	  <div class="col-xs-.3 col-sm-2 col-md-2 col-lg-2 row-center"><%= patient.code %></div>
	  <div class="col-xs-.3 col-sm-2 col-md-2 col-lg-2 row-center"><%= patient.person.code %></div>
	  <div class="col-xs-.3 col-sm-2 col-md-2 col-lg-2 "><%= patient.person.firstname %></div>
	  <div class="col-xs-.3 col-sm-2 col-md-2 col-lg-2"><%= patient.person.lastname %></div>
	  <div class="col-xs-.2 col-sm-1 col-md-1 col-lg-1 row-center"><%= patient.person.phone %></div>	  
	  <div class="col-xs-.2 col-sm-1 col-md-1 col-lg-1 row-center"><%= link_to "Ver", edit_patient_path(patient.id), { method: "put" } %></div>
	  <div class="col-xs-.2 col-sm-1 col-md-1 col-lg-1 row-center"><%= link_to "Eliminar", patient, method: :delete, data: { confirm: "¿Estas seguro que quieres eliminar este paciente?" } %></div>
	</div>
  <% else %>
    <div class="row content-odd">
	  <div class="col-xs-.3 col-sm-2 col-md-2 col-lg-2 row-center"><%= patient.code %></div>
	  <div class="col-xs-.3 col-sm-2 col-md-2 col-lg-2 row-center"><%= patient.person.code %></div>
	  <div class="col-xs-.3 col-sm-2 col-md-2 col-lg-2 "><%= patient.person.firstname %></div>
	  <div class="col-xs-.3 col-sm-2 col-md-2 col-lg-2"><%= patient.person.lastname %></div>
	  <div class="col-xs-.2 col-sm-1 col-md-1 col-lg-1 row-center"><%= patient.person.phone %></div>	  
	  <div class="col-xs-.2 col-sm-1 col-md-1 col-lg-1 row-center"><%= link_to "Ver", edit_patient_path(patient.id), { method: "put" } %></div>
	  <div class="col-xs-.2 col-sm-1 col-md-1 col-lg-1 row-center"><%= link_to "Eliminar", patient, method: :delete, data: { confirm: "¿Estas seguro que quieres eliminar este paciente?" } %></div>
	</div>
  <% end %>
<% end %>

<div class="row footer">
  <div class="col-xs-.3 col-sm-2 col-md-2 col-lg-2"></div>
  <div class="col-xs-.3 col-sm-2 col-md-2 col-lg-2"></div>
  <div class="col-xs-.3 col-sm-2 col-md-2 col-lg-2"></div>
  <div class="col-xs-.3 col-sm-2 col-md-2 col-lg-2"></div>
  <div class="col-xs-.2 col-sm-1 col-md-1 col-lg-1"></div>
  <div class="col-xs-.2 col-sm-1 col-md-1 col-lg-1"></div>
  <div class="col-xs-.2 col-sm-1 col-md-1 col-lg-1"></div>
</div>
