<div class="spacer-5"></div>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#tab0" aria-controls="tab0" role="tab" data-toggle="tab">Datos Generales</a></li>
  <li role="presentation"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Antecedentes Familiares</a></li>
  <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Antecedentes Patológicos</a></li>
  <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Medicamentos</a></li>
</ul>
  
<div class="form-horizontal">  
  <%= form_for(@person) do |f| %>
    <div class="tab-content">

	<!-- 1st Tab -->
    <div role="tabpanel" class="tab-pane active" id="tab0">
      <div class="spacer-5"></div>

	    <b>Codigo IIRSME</b>
	    <%= f.text_field :code, class: 'form-control' %>
	    
	    <b>Codigo AR</b>
	    <%= f.text_field :arcode, class: 'form-control' %>
	    
	    <b>Fecha de Elaboración</b>
	    <%= f.date_field :elaborationdate, class: 'form-control' %>
	    
	    <b>Nombre(s)</b>
	    <%= f.text_field :firstname, class: 'form-control' %>
	      
	    <b>Apellidos</b>
	    <%= f.text_field :lastname, class: 'form-control' %>
	    
	    <b>Fecha de Nacimiento</b>
	    <%= f.date_field :birthdate, class: 'form-control' %>
	    
	    <b>Edad</b>
	    <%= f.number_field :age, class: 'form-control' %>
	    
	    <b>Sexo</b>
	    <%= f.select :gender, ['Hombre', 'Mujer'], {:include_blank => true}, {:class => 'form-control'} %>
	    
	    <b>Estado Civil</b>
	    <%= f.text_field :maritalstatus, class: 'form-control' %>
	
	    <b>Ocupación</b>
	    <%= f.text_field :occupation, class: 'form-control' %>
	    
	    <b>Nivel de Estudios</b>
	    <%= f.text_field :education, class: 'form-control' %>
	
	    <b>Lugar de Nacimiento</b>
	    <%= f.text_field :birthplace, class: 'form-control' %>
	    
	    <b>Calle</b>
	    <%= f.text_field :address1, class: 'form-control' %>
	    
	    <b>Cruza con</b>
	    <%= f.text_field :address2, class: 'form-control' %>
	    
	    <b>Colonia</b>
	    <%= f.text_field :region, class: 'form-control' %>
	    
	    <b>Codigo Postal</b>
	    <%= f.text_field :zipcode, class: 'form-control' %>
	    
	    <b>Ciudad</b>
	    <%= f.text_field :city, class: 'form-control' %>
	    
	    <b>Estado</b>
	    <%= f.text_field :state, class: 'form-control' %>
	    
	    <b>Telefono</b>
	    <%= f.text_field :phone, class: 'form-control' %>
	    
	    <b>Celular</b>
	    <%= f.text_field :cellphone, class: 'form-control' %>  
	    
	    <b>Correo</b>
	    <%= f.text_field :email, class: 'form-control' %>  	
		
        <div class="spacer-5"></div>		
	</div>


	<!-- 2nd Tab -->
	<div role="tabpanel" class="tab-pane" id="tab1">
      <div class="spacer-5"></div>

	  <b>¿Como considera su estado actual de salud?</b>
	  <%= f.select :health_status, ['Bueno', 'Regular', 'Malo'], {:include_blank => true}, {:class => 'form-control'} %>
 
	  <b>Obesidad / Sobrepeso</b>
	  <%= f.text_field :obesity, class: 'form-control' %> 
      
	  <b>DM2</b>
	  <%= f.text_field :dm2, class: 'form-control' %>
	  
	  <b>HTA</b>
	  <%= f.text_field :hta, class: 'form-control' %>
	  
	  <b>ECV</b>
	  <%= f.text_field :ecv, class: 'form-control' %>
	  
	  <b>IAM</b>
	  <%= f.text_field :iam, class: 'form-control' %>

	  <b>IRC</b>
	  <%= f.text_field :irc, class: 'form-control' %>
	  
	  <b>EVC</b>
	  <%= f.text_field :evc, class: 'form-control' %>
	  
	  <b>Cancer</b>
	  <%= f.text_field :cancer, class: 'form-control' %>
	  
	  <b>Hipercolesterolemia</b>
	  <%= f.text_field :hypercholesterolemia, class: 'form-control' %>	  	  	  
      
      <div class="spacer-5"></div>
	</div>


	<!-- 3rd Tab -->
	<div role="tabpanel" class="tab-pane" id="tab2">
      <div class="spacer-5"></div>
      
	  <b>Consumo de Medicamentos</b>
	  <%= f.text_field :p_medications, class: 'form-control' %>
	  
	  <b>Tabaquismo (No. de Cigarrillos, Fumador Pasivo, Tiempo de Consumo)</b>
	  <%= f.text_field :p_smoking, class: 'form-control' %>
	  
	  <b>Alcoholismo (Frequencia,  Cantidad, Tiempo de Consumo)</b>
	  <%= f.text_field :p_alcoholism, class: 'form-control' %>
	  
	  <b>Toxicomanias</b>
	  <%= f.text_field :p_addictions, class: 'form-control' %>
	  
	  <b>Obesidad / Sobrepeso</b>
	  <%= f.text_field :p_obesity, class: 'form-control' %> 
      
	  <b>DM2</b>
	  <%= f.text_field :p_dm2, class: 'form-control' %>
	  
	  <b>HTA</b>
	  <%= f.text_field :p_hta, class: 'form-control' %>
	  
	  <b>ECV</b>
	  <%= f.text_field :p_ecv, class: 'form-control' %>
	  
	  <b>IAM</b>
	  <%= f.text_field :p_iam, class: 'form-control' %>

	  <b>IRC</b>
	  <%= f.text_field :p_irc, class: 'form-control' %>
	  
	  <b>EVC</b>
	  <%= f.text_field :p_evc, class: 'form-control' %>
	  
	  <b>Cancer</b>
	  <%= f.text_field :p_cancer, class: 'form-control' %>
	  
	  <b>Hipercolesterolemia</b>
	  <%= f.text_field :p_hypercholesterolemia, class: 'form-control' %>
	  
	  <div class="spacer-5"></div>
	  <b>ANT OBSTÉTRICOS (G, P, C, A)</b>
	  <%= f.text_field :p_antobst, class: 'form-control' %>
	  
	  <div class="spacer-5"></div>
	  <b>ANT GINECOLÓGICOS</b><br>
	  <b>Menarca</b>
	  <%= f.text_field :p_menarche, class: 'form-control' %>
	  
	  <b>Ritmo</b>
	  <%= f.text_field :p_ritmo, class: 'form-control' %>
	  
	  <b>FUM</b>
	  <%= f.text_field :p_fum, class: 'form-control' %>
	  
	  <b>Consumo de Hormonas</b>
	  <%= f.text_field :p_hormones, class: 'form-control' %>	
	  
	  <div class="spacer-5"></div>
	  <b>Fecha de Diagnostico de AR</b>
	  <%= f.text_field :p_diagnosisdate, class: 'form-control' %>
	  	  
	  <b>Inicio de la Enfermedad</b>
	  <%= f.text_field :p_disease_startdate, class: 'form-control' %>
      
      <div class="spacer-5"></div>
    </div>


	<!-- 4th Tab -->
	<div role="tabpanel" class="tab-pane" id="tab3">
      <div class="spacer-5"></div>
      <div class="spacer-5"></div>
	</div>

    </div>
    <%= f.submit "Guardar", class: "btn btn-primary" %>    
    <%= link_to "Atras", people_path, class: "btn btn-primary" %>
  <% end %>
</div>  