<h1><b>Candidatos registrados en el sistema</b></h1>

<div class="spacer-5"></div>

<div class="form-group col-md-3">
  <label class="control-label">Filtrar por Codigo:</label>
  <input class="form-control" id="person_code_picker" type="text" onkeyup="filterTable('person_code_picker', 'people_table', 0)"/>
</div>

<div class="col-md-offset-7 col-md-2">
  <%= link_to "Nuevo Candidato", new_person_path, { class: "btn btn-primary"} %>
</div>

<div class="table-responsive col-md-12">
  <table class="table table-hover table-condensed table-bordered table-striped" id="people_table">
  	<thead>
    <tr class="table-header">
	  <th class="row-center">Codigo IIRSME</th>
	  <th class="row-center">Nombre(s)</th>
	  <th class="row-center">Apellidos</th>
	  <th class="row-center">Edad</th>
	  <th class="row-center">Sexo</th>
	  <th class="row-center">Telefono</th>
	  <th class="row-center">Celular</th>
	  <th class="col-md-1"></th>
	</tr>
	</thead>
	
	<tbody>
	<% @people.each_with_index do |person, idx| %>
	<tr>
      <td class="row-center"><%= person.code %></td>
	  <td><%= person.firstname %></td>
	  <td><%= person.lastname %></td>
	  <td class="row-center"><%= person.age %></td>
	  <td class="row-center"><%= person.gender %></td>	  	  	  
	  <td class="row-center"><%= person.phone %></td>
	  <td class="row-center"><%= person.cellphone %></td>
	  <td class="row-center">
	  	<%= link_to edit_person_path(person.id), title: 'Ver Detalles', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
	  	  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
	  	<% end %>
	    <%= link_to person, method: :delete, data: { confirm: "¿Estas seguro que quieres eliminar este candidato?" }, title: 'Eliminar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
	  	  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
	  	<% end %>
	  </td>
	</tr>
	<% end %>
	</tbody>
  </table>
</div>	