<h1> Usuarios con acceso al sistema </h1>

<div class="spacer-5"></div>

<div class="form-group col-md-3">
  <label class="control-label">Filtrar por Usuario:</label>
  <input class="form-control" id="user_picker" type="text" onkeyup="filterTable('user_picker', 'users_table', 0)"/>
</div>

<div class="col-md-offset-7 col-md-2">
  <%= link_to "Nuevo Usuario", new_user_path, { class: "btn btn-primary"} %>
</div>

<div class="table-responsive col-md-12">
  <table class="table table-hover table-condensed table-bordered table-striped" id="users_table">
  	<thead>
    <tr class="table-header">
	  <th class="row-center">Usuario</th>
	  <th class="row-center">Nombre(s)</th>
	  <th class="row-center">Apellidos</th>
	  <th class="row-center">Correo</th>
	  <th class="row-center">Admin</th>
	  <th></th>
	</tr>
	</thead>

	<tbody>
	<% @users.each_with_index do |user, idx| %>
	<tr>
		<td class="row-center"><%= user.username %></td>
		<td><%= user.firstname %></td>
		<td><%= user.lastname %></td>
		<td><%= user.email %></td>
		<td class="row-center"><%= user.isadmin %></td>
		<td class="row-center">
	  	  <%= link_to edit_user_path(user.id), title: 'Ver Detalles', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
	  	    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
	  	  <% end %>
	      <%= link_to user, method: :delete, data: { confirm: "¿Estas seguro que quieres eliminar esta usuario?" }, title: 'Eliminar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
	  	    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
	  	  <% end %>
	    </td>
	</tr>
	<% end %>
	</tbody>
  </table>
</div>
