<h1> Detalles de la Visita </h1>

<div class="spacer-5"></div>

<h3>  Datos Generales </h3>

<div class="form-horizontal">
  <%= form_for(@appointment) do |f| %>
    
    <b>Dia</b>
    <%= f.date_field :day, class: 'form-control' %>
      
    <b>Hora</b>
    <%= f.time_field :starttime, class: 'form-control' %>      

    <b>Status</b>
    <%= f.select :status, ['Agendada', 'Completada', 'Cancelada'], {:include_blank => false}, {:class => 'form-control'} %>

    <b>Comentarios</b>
    <%= f.text_area :comments, class: 'form-control', rows: 7 %>
      
    <div class="spacer-5"></div>

    <%= f.submit "Guardar", class: "btn btn-primary" %>    
    <%= link_to "Atras", edit_patient_path(@appointment.patient_id), { class: "btn btn-primary" } %>
        
  <% end %>
</div>

<div class="spacer-5"></div>
<div class="spacer-5"></div>

<h3> Evaluaciones </h3>

<div class="spacer-5"></div>

<% if @evaluation %>
  <h5> Evaluación disponible </h5>
  <div class="spacer-5"></div>
  <%= link_to "Editar", edit_evaluation_path(@evaluation.id), { method: "put", class: "btn btn-primary" } %>
  <%= link_to "Eliminar", delete_evaluation_path(@evaluation.id), { method: "delete", class: "btn btn-primary" } %>

<% else %>
  <h5> Sin Evaluacion... </h5>
  <div class="spacer-5"></div>
  <%= link_to "Agregar", new_evaluation_path("appointment_id" => @appointment.id), { class: "btn btn-primary" } %>
    
<% end %>