<h1> Detalle Visitas </h1>

<div class="spacer-5"></div>

<div class="form-group col-md-3">
  <label class="control-label">Buscar por Fecha:</label>
  <input class="form-control" id="date_picker" placeholder="dd/mm/aaaa" type="text" onkeyup="filterTable('date_picker', 'appts_table', 4)"/>
</div>

<div class="table-responsive col-md-12">
  <table class="table table-hover table-condensed table-bordered table-striped" id="appts_table">
  	<thead>
    <tr class="table-header">
	  <th class="row-center">Codigo <%= @research.code %></th>
	  <th class="row-center">Paciente</th>
	  <th class="row-center">Telefono</th>
	  <th class="row-center">Celular</th>
	  <th class="row-center">Fecha</th>
	  <th class="row-center">Hora</th>
	  <th class="row-center">Status</th>
	  <th></th>
	</tr>
	</thead>

	<tbody>
	<% @appointments.each_with_index do |appt, idx| %>
    <% person = appt.patient.person %>
	<tr>
	  <td class="row-center"><%= appt.patient.code %></td>
	  <td><%= person.firstname + ' ' + person.lastname %></td>
	  <td><%= person.phone %></td>
	  <td><%= person.cellphone %></td>
	  <td class="row-center"><%= appt.day.strftime("%d/%m/%Y") %></td>
	  <td class="row-center"><%= appt.starttime.strftime("%I:%M %p") %></td>
	  <td class="row-center"><%= appt.status %></td>
	  <td class="row-center">
	  	<%= link_to edit_appointment_path(appt.id), title: 'Ver Detalles', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
	  	  <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
	  	<% end %>
	    <%= link_to appt, method: :delete, data: { confirm: "¿Estas seguro que quieres eliminar esta visita?" }, title: 'Eliminar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
	  	  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
	  	<% end %>
	  </td>
	</tr>
	<% end %>
	</tbody>
  </table>
</div>