<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MedicalApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<% if current_user %>
  	  <header class="navbar navbar-fixed-top navbar-inverse">
	    <div class="container">
	      <% if @research %>
	        <%= link_to "#{@research.code}", edit_research_path(@research.id), { method: "put", class: "navbar-brand" } %>     
	      <% end %>

	      <nav>
	        <ul class="nav navbar-nav navbar-right">
	          <li><%= link_to "Inicio", root_path %></li>
	          <li><%= link_to "Personas", people_path %>
	          
	          <% if @research %>
	            <li><a href="#">Pacientes</a></li>
                <!--<li><a href="#">Visitas</a></li>-->
	          <% else %>
	            <!--<li><%= link_to "Protocolos", all_researches_path %></li>-->
	            <% if current_user && current_user.isadmin %>
	              <li><%= link_to "Usuarios", users_path, method: "get" %></li>
	            <% end %>
	          <% end %>
	          
	          <% if current_user %>
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= current_user.firstname %> <span class="caret"></span></a>
	              <ul class="dropdown-menu">
	              	<li class="dropdown-header">Cuenta</li>
					<li><%= link_to "Editar Usuario", current_user, method: :put %></li>
	                <li role="separator" class="divider"></li>
	                <li class="dropdown-header">Acciones</li>
	                <li><a>Configuración</a></li>
	                <li><%= link_to "Salir", logout_path, method: "delete" %></li>
	              </ul>
	            </li>
	          <% else %>
	            <li><%= link_to "Entrar", login_path %></li>
	          <% end %>
	        </ul>
	      </nav>
	    </div>
	  </header>
  	<% end %>

  	<div class="container">
  	  <%= flash_messages %>
      <%= yield %>
    </div>

  </body>
</html>
